[submodule "libopenwch"]
	path = libopenwch
	url = https://github.com/LrkSeraph/libopenwch.git
[submodule "tools/wchlink"]
	path = tools/wchlink
	url = https://github.com/LrkSeraph/libopenwch-tools.git
